<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
</head>
<body>

    <div class="admin-container">
        
       
        <aside th:fragment="header" class="sidebar">
            <h2>Admin Panel</h2>
            <ul>
               <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/admin/manage/flight}">Flight Management</a></li>
                <li><a th:href="@{/admin/manage/booking}">Booking</a></li>
                
                <li><a th:href="@{/admin/logout}">Logout</a></li>
                <li><a th:href="@{/admin/manage/queries}">Manage Queries</a></li>
                
            </ul>
        </aside>

    </div>

</body>
</html>
