<<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" th:href="@{/css/admin-login.css}">
</head>
<body>
   
  <form method="post" action="/admin/login-process">
   <h2>Admin Login</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="input-group">
                <label for="password"> Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>
            <button type="submit">Login</button>
            <p class="error-message">Invalid credentials. Try again.</p>

</form>

</body>
</html>
